table {
    margin: 0 auto;
    border-collapse: separate;  
    empty-cells: hide;  
}

td {
    background-color: rgb(175, 255, 175);
    text-align: center;
}

thead th {
    background: linear-gradient(to top, #8af004, #6ab623);
}

tbody th {
    background: linear-gradient(45deg, #8af004, #6ab623);
}

th, td {
    border-radius: 5px;
    width: 120px;
    padding: 15px;
}