    table {
        width: 700px;
        margin: auto;
        font-family: arial, helvetica, sans-serif;
        font-size: 16px;
    }

    td[colspan] {
        text-align: center;
        font-weight: bold;
    }

    td {
        width: 30%;
        border: 1px solid #777;
        padding: 7px;
        background-color: #f0f8ff;
    }

    td + td {
        width: 70%;
    }

    caption {
        font-weight: bold;
        font-size: 18px;
    }

    input[name$="name"], [type="adress"], textarea {
        width: 450px;
    }

    tr:last-of-type {
        font-weight: normal;
        color: red;
    }

    [required] {
        border: 1px solid #ff0000;
        box-shadow: 0px 0px 3px #ff0000;
    }

    caption {
        border: 1px solid #ff0000;
        box-shadow: 0px 0px 3px #ff0000;
    }
    


