.div_1 {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 500px;
    height: 200px;
    padding: 15px;
    border: 4px dashed blue;
    background-color: yellow;
}

.div_2, .div_3 {
    display: inline-block;
    width: 200px;
    height: 100px;
    padding: 5px;
}

.div_2 {
    border: 2px solid blue;
    float: left;
    overflow: scroll;

}

.div_3 {
    border: 2px dotted blue;
    overflow: auto;
    float: right;
}  