body {                             
    max-width: 100vw;               
    min-height: 100vh;              
}

.container {
    max-width: 1000px;
    margin: 0 auto;
<<<<<<< HEAD
    min-height: 100vh;   
    display: grid;
    grid-template-rows: minmax(auto, 200px) minmax(auto, 50px) repeat(3, 1fr) minmax(auto, 100px);
    grid-template-columns: minmax(100, 300px) repeat(4, 1fr) minmax(100, 300px);
    grid-gap: 10px;
    text-align: center; 
}

nav, aside, footer {
    color: white;
=======
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;  
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;  
>>>>>>> home-09-task-3
}

header {
    grid-row: 1/2;
    grid-column: 1/7;
<<<<<<< HEAD
    background-color: #196D67;
    display: flex;
    justify-content: flex-end;
}

#logo {
    display: flex;    
    flex: 0 0 200px;
    margin: 10px;
}

img {
    width: 100%;
    
}

nav {
    grid-row: 2/3;
    grid-column: 1/7;
    background-color: #130D3A;
}

article[class^="a-"] {
    background-color: aqua;
}

.a-1 {
    grid-row: 3/4;
    grid-column: 1/4;
}

.a-2 {
    grid-row: 3/4;
    grid-column: 4/7;    
}

.left-panel {
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: blueviolet;
}

main {
    grid-row: 4/5;
    grid-column: 2/6;
    background-color: white;
}

.right-panel {
    grid-row: 4/5;
    grid-column: 6/7;
    background-color: blueviolet;
}

.a-3 {
    grid-row: 5/6;
    grid-column: 1/3;
}

.a-4 {
    grid-row: 5/6;
    grid-column: 3/5;
}

.a-5 {
    grid-row: 5/6;
    grid-column: 5/7;
}

footer {
    grid-row: 6/7;
    grid-column: 1/7;
    background-color: #144478;
=======
    background-color: #80f2c1;
>>>>>>> home-09-task-3
}