p {
    width: 500px;
    padding: 1em;
}

#p_1 {
    background-color: orange;
    text-align: left;
}

#p_2 {
    background-color: violet;
    text-align: right;
}

.first {
    text-decoration: underline dotted;
}

.second {
    text-decoration: underline dashed;
}

.third {
    text-decoration: underline wavy;
}

p:nth-of-type(2) span:nth-of-type(1) {   /*1 способ*/
    text-decoration: underline dotted;
}

p + p span:nth-of-type(2) {
    text-decoration: underline dashed;   /*2 способ*/
}

p + p span:nth-of-type(3) {
    text-decoration: underline wavy;
}